<div class="row mx-auto" >
  <div class="col-3 mx-auto mt-5 ">
    <div class="card card-body mt-1">
      <h1 class="text-center pb-2 ">Login</h1>
      {{> message}}
      <form action="/users/login" method="post">
        <div class="form-floating mb-3">
          <input type="email" class="form-control mb-2" name="email" id="email" placeholder="Enter email..." required>
          <label for="email" class="mb-2">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password..."
            required>
          <label for="password" class="mb-2">Password</label>
        </div>
        <div class="d-grid gap-2 mt-3">
          <button class="btn btn-outline-warning">Login</button>
          <a href="/auth/facebook" class="btn btn-outline-info ">Facebook Login</a>
        </div>
        <hr>
        <p class="m-0">還沒有帳號嗎? <a href="/users/register">點此註冊</a></p>
      </form>
    </div>
  </div>
</div>