<div class="row mx-auto" >
  <div class="col-3 m-auto form-box">
    <div class="card card-body mt-1">
      <h1 class="text-center pb-2 ">Register</h1>
      {{> message}}
      <form action="/users/register" method="post">
        <label for="name" class="mb-2">Name</label>
        <input type="text" class="form-control mb-2" name="name" id="name" placeholder="Enter name..." value="{{name}}">

        <label for="email" class="mb-2">Email</label>
        <input type="email" class="form-control mb-2" name="email" id="email" placeholder="Enter email..." value="{{email}}">

        <label for="password" class="mb-2">Password</label>
        <input type="password" class="form-control mb-2" name="password" id="password" placeholder="Enter Password..." value="{{password}}">

        <label for="confirmPassword" class="mb-2">Confirm Password</label>
        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
          placeholder="Confirm Password...">

        <div class="d-grid gap-2 mt-3">
          <button class="btn btn-outline-warning">Register</button>
        </div>
      </form>
      <hr>
      <p class="m-0">已經有帳號了嗎? <a href="/users/login">點此登入</a></p>
    </div>
  </div>
</div>